@import "variables.scss";

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2{
  margin: 3em;
}

nav{
  box-shadow: $box-shadow;
}


/* HERO */
.hero{
  background: url("assets/images/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  box-shadow: $box-shadow;
}

/* TOP 3 */
.top-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &--reversed{
    @extend .top-item;
    flex-direction: row-reverse;
  }

  img{
    width: 30%;
  }
}

/* FOOTER */
footer{
  input{
    padding: 0.5rem;
  }

  i{
    @include icons($dark, 1.5rem, 5px);
  }
}

/* SCROLL UP */
.scrollUp{
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}

.scrollUp a{
  color: $secondary;
}