
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}



.info {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 26px;
  margin-top: 10px;
  color:$font-color;
}

.card-layout {
  width: $card-width;
  height: $card-height;
  margin: 30px 0;
  border-radius: $card-radius;
  perspective: 500px;
  overflow: hidden;
  color: $font-color;
  background-color: $card-bg;
  box-shadow: $box-shadow;

  .book-cover {
    position: relative;
    height: $separator-height;
    width: calc(#{$card-width} * 2);
    left: -52.5%;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
    transform-style: preserve-3d;
    transform-origin: 50% 40%;
    transition: $transition;
    z-index: 4;
  }

  .book-top {
    width: 170px;
    position: absolute;
    top: 70px;
    left: 250px;
    z-index: 5;
    transform: translateZ(28.5px);
  }

  .book-side {
    position: absolute;
    top: 321px;
    left: 222px;
    transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
  }

  &:hover {


    .book-cover{
      transform: rotateX(75deg) translateZ(45px) scale(0.75);
    }
    .book-cover + .preface{
      transform: translateY(-302px);
    }

  }

  .preface {
    height: fit-content;
    padding: 50px;
    transition: $transition;
    background: $card-preface-bg-light;

    .header {
      display: flex;
      justify-content: space-between;
    }

    .title {
      font-family: 'Quicksand', sans-serif;
      font-size: 26px;
      margin-bottom: 10px;
      color: white;
    }

    .author {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      margin-bottom: 20px;
      color: white;

    }

    .icon {
      transform-origin: top;
      transition: $transition;

      i{
        @include icons(white, 1.5rem, 0);
      }
    }

    .body {
      font-family: 'Quicksand', sans-serif;
      color: white;

    }

    .body p:first-child {
      margin-bottom: 15px;
    }
  }
}

