* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mobile-width: 325px;
  --mobile-height: 580px;
  --mobile-radius: 25px;
  --mobile-bg: whitesmoke;
  --separator-height: 400px;
  --font-color: #807b7b;
  --transition: transform 0.7s ease-in-out;
  --card-bg-light: #d3d3d3;
  --card-preface-bg-light: $primary;
}


.info {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 26px;
  margin-top: 10px;
  color: var(--font-color);
}

.card-layout {
  width: var(--mobile-width);
  height: var(--mobile-height);
  margin: 30px 0;
  border-radius: var(--mobile-radius);
  perspective: 500px;
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--mobile-bg);
  box-shadow: 36px 36px 30px -25px #21252982;

  .book-cover {
    position: relative;
    height: var(--separator-height);
    width: calc(var(--mobile-width) * 2);
    left: -52.5%;
    border-top-left-radius: var(--mobile-radius);
    border-top-right-radius: var(--mobile-radius);
    background-color: var(--intro-bg);
    transform-style: preserve-3d;
    transform-origin: 50% 40%;
    transition: var(--transition);
    z-index: 4;
  }

  .book-top {
    width: 170px;
    position: absolute;
    top: 70px;
    left: 250px;
    z-index: 5;
    transform: translateZ(28.5px);
  }

  .book-side {
    position: absolute;
    top: 321px;
    left: 222px;
    transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
  }

  &:hover {


    .book-cover{
      transform: rotateX(75deg) translateZ(45px) scale(0.75);
    }
    .book-cover + .preface{
      transform: translateY(-302px);

      .icon {
        transform: rotateX(180deg);
      }
    }

  }

  .preface {
    height: fit-content;
    padding: 50px;
    transition: var(--transition);
    background: $primary;

    .header {
      display: flex;
      align-items: center;
    }

    .title {
      font-family: 'Quicksand', sans-serif;
      font-size: 26px;
      margin-bottom: 10px;
      color: white;
    }

    .author {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      margin-bottom: 20px;
      color: white;

    }

    .icon {
      transform-origin: top;
      transition: var(--transition);
      color: white;

    }

    .body {
      font-family: 'Quicksand', sans-serif;
      color: white;

    }

    .body p:first-child {
      margin-bottom: 15px;
    }
  }
}

